<%- include('./partials/header') %>  

<style>
   .hide{
     display:none;
   }
   .show {
     display:block;
   }

  .paused{
    background-color:#f06c5b;
  }

   </style>


<h1 id="currentUser" style="display:none;"><%=currentUser.username%></h1>

      <% 
                   var k=new Date;
                   var parsedDate=Date.parse(k);
                   var storeTemporary=new Date(parsedDate)
                   var  enteredDate=newDateString(storeTemporary);
                   function newDateString(date){
                        var a =date.getDate().toString()+"-";
                        var b =(date.getMonth()+1).toString()+"-";
                        var c=date.getFullYear().toString();
                        return a+b+c;
                 }
               
    %>

<div class="container">
    <div class="row mt-1">
          <div class="col-9">
            <a class="btn btn-light btn-sm mr-1 updateButton justify-content-end" href="#">Update</a>
            <a class="btn btn-light btn-sm mr-1 pauseButton justify-content-end" href="#">Pause Appointment</a>
          </div>
          <div class="col-3 d-flex justify-content-end">
             <a class="btn btn-light btn-sm mr-1"  href="#">Today</a>
             <a class="btn btn-light btn-sm justify-content-end" href="#">Tommorow</a>
          </div>
     </div>
</div>


<table class="table ">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Patient Name</th>
      <th scope="col">Mobile Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

   <% foundOne[0].appointmentArray.forEach(function(found){  
                 if(found.appointmentDate==enteredDate){  
                        found.appointments.forEach(function(ble){ 
                  if(ble.done=="false"){  %>
             
    <tr>
      <td scope="col"><%=ble.yourNumber%></th>
      <td scope="col"><%=ble.patientName%></td>
      <td scope="col"><%=ble.mobileNumber%></td>
    <td> 
        <form  action="/secret/<%=ble._id%>/edit" method="POST">  
      <button id="done" name="done" value="true" class="btn btn-light btn-sm mr-2" >Done</button>
   </form>
    </td>
    </tr>
<%          }      })     }         })       %>  
 </tbody>
</table>



<!-- this for updating the doctor  -->
<form action="#" method="POST" class="form-horizontal updateForm">

<div class="container">
<feildset>



<!-- Form Name -->
<legend class=" text text-primary py-1">Edit Details</legend>

<div class="form-group">
  <label class="col-md-8 control-label" for="maxPatientLimit">Maximum Patient Limit</label>  
  <div class="col-md-8">
  <input id="maxPatientLimit" name="maxPatientLimit" type="text" placeholder="150" class="form-control input-group input-group-sm" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="Per Patient Appointment Time">Per Patient Appointment Time </label>  
  <div class="col-md-8">
  <input id="" name="perAppointmentTime" type="text" placeholder="in minutes" class="form-control input-group-sm" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="Starting Appointment Time Time">Starting Appointment Time </label>  
  <div class="col-md-8">
  <input id="startingAppointmentTime" name="startingAppointmentTime" type="Time" placeholder="in minutes" class="form-control input-group-sm" required="">
    
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="note">Note </label>  
  <div class="col-md-8">
  <textarea id="note" name="note" type="text" placeholder="wearing mask is necessary" class="form-control input-group-sm" > wearing mask is necessary and patient with fever will not be allowed </textarea>
    
  </div>
</div>


<!-- Text input-->
<label class="col-md-8 control-label" for="On Leave">On Leave</label>
<div class="input-group-sm col-md-8 mb-3">
  <select class="custom-select" name="onLeave"id="inputGroupSelect02">
     <option selected value="false">NO</option>    
    <option value="true">YES</option>
  </select>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-8 mr-auto control-label" for="singlebutton"></label>
  <div class="col-md-8">
    <button id="GET YOUR APPOINTMENT" name="GET YOUR APPOINTMENT" class="btn btn-primary btn-block">UPDATE DETAILS</button>
  </div>
</div>

</div>


</feildset>

</form>
                   
                              
                               
 













<%- include('./partials/footer') %>
<script type="text/javascript" src="/public/js/earlyappointment.js"></script>
 


