<%- include('./partials/header') %>  

<% if(foundOne[0]){       %>

      <% 
                   var k=new Date;
                   var  enteredDate=newDateString(k);
                   function newDateString(date){
                         var a =date.getDate();
                        if(a<10){
                          var f="0"+a.toString();
                        }
                        var b =(date.getMonth()+1);
                        if(b<10){
                          var e="0"+b.toString()+"-";
                        }else{
                          var e=b.toString()+"-";
                        }
                        var c=date.getFullYear().toString()+"-";
                        return c+e+f;
                 }
                 var secretDate;
    %>

    <% if(secretDate){
          var enteredDate=secretDate;
    } %>

<div class="container">
    <div class="row mt-1">
          <div class="col-4">
            <a class="btn btn-light btn-sm mr-1 updateButton justify-content-end" href="#">Update</a>
          </div>
          <div class="col-8 d-flex justify-content-end">
               <form  action="/secretDate" method="POST" class="form-inline form-group"> 
                 <div class="row">
                 <div class="col-9">
                      <input type="date" value="<%=secretDate%>" name="secretDate" class="input-group p-1 border-0">            
                  </div>
                   <div class="col-3">
                     <button id="Get" class="btn getButton btn-light btn-sm justify-content " >Get</button>
                   </div>
                 </div>
              </form>
          </div>
     </div>
</div>


<table class="table ">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Patient Name</th>
      <th scope="col">Mobile Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  
   <% foundOne[0].appointmentArray.forEach(function(found){  
                 if(found.appointmentDate==enteredDate){  
                        found.appointments.forEach(function(ble){ 
                  if(ble.done=="false"){  %>
             
    <tr>
      <td scope="col"><%=ble.yourNumber%></th>
      <td scope="col"><%=ble.patientName%></td>
      <td scope="col"><%=ble.mobileNumber%></td>
    <td>       
        <form  action="/update/<%=foundOne[0]._id%>/<%=ble._id%>/<%=enteredDate%>" method="POST">  
      <button id="done" name="done" value="true" class="btn btn-danger btn-sm mr-2" >Done</button>
   </form>
    </td>
    </tr>
<%          }      })     }         })       %>  
 </tbody>
</table>



<!-- this for updating the doctor    -->
<form action="/doctor/<%=foundOne[0]._id%>" method="POST" class="form-horizontal updateForm">

<div class="container">
<feildset>



<!-- Form Name -->
<legend class=" text text-primary py-1">Edit Details</legend>

<div class="form-group">
  <label class="col-md-8 control-label" for="maxPatientLimit">Maximum Patient Limit</label>  
  <div class="col-md-8">
  <input id="maxPatientLimit" name="Doctor[maxPatientLimit]"  value="<%=foundOne[0].maxPatientLimit%>" type="text" placeholder="150" class="form-control input-group input-group-sm" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="Per Patient Appointment Time">Per Patient Appointment Time </label>  
  <div class="col-md-8">
  <input id="" name="Doctor[perAppointmentTime]" value="<%=foundOne[0].perAppointmentTime%>" type="text" placeholder="in minutes" class="form-control input-group-sm" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="Starting Appointment Time Time">Starting Appointment Time </label>  
  <div class="col-md-8">
  <input id="startingAppointmentTime" name="Doctor[startingAppointmentTime]" value="<%=foundOne[0].startingAppointmentTime%>" type="Time" placeholder="in minutes" class="form-control input-group-sm" >
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="closing Appointment Time Time">closing Appointment Time </label>  
  <div class="col-md-8">
  <input id="closingAppointmentTime" name="Doctor[closingAppointmentTime]" value="<%=foundOne[0].closingAppointmentTime%>"  type="Time" placeholder="in minutes" class="form-control input-md" >
    
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="note">Note </label>  
  <div class="col-md-8">
  <textarea id="note" name="Doctor[note]" type="text" placeholder="wearing mask is necessary" value="<%=foundOne[0].note%>" class="form-control input-group-sm" > wearing mask is necessary and patient with fever will not be allowed </textarea>
    
  </div>
</div>


<!-- Text input-->
<label class="col-md-8 control-label" for="On Leave">On Leave</label>
<div class="input-group-sm col-md-8 mb-3">
  <select class="custom-select" name="Doctor[onLeave]"id="inputGroupSelect02">
     <option selected value="false">NO</option>    
    <option value="true">YES</option>
  </select>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-8 mr-auto control-label" for="singlebutton"></label>
  <div class="col-md-8">
    <button id="GET YOUR APPOINTMENT" name="" class="btn btn-primary btn-block">UPDATE DETAILS</button>
  </div>
</div>
</div>


</feildset>

</form>

<% }else{   %>
      <h4 class="groupAppend checktime bgcolor mt-5">Sorry!.....Doctor Not Found Linked With This Email<br>Contact Admin For Linking<br>Take Care  </h4>
<% } %>

<%- include('./partials/footer') %>
<script type="text/javascript" src="/public/js/earlyappointment.js"></script>
 


